.section-about {
  padding-top: 12rem;
  padding-bottom: $standard-padding-height;

  &__card {
    justify-content: center;
  }

  &__card-description {
    width: 52rem;
  }
}

.section-achievements {
  padding-top: $standard-padding-height;
  padding-bottom: $standard-padding-height;

  background-color: $darken-blue-color;

  &__card-item {
    width: 12rem;

    @include media-query(phone) {
      flex-basis: 50%;
      justify-content: center;

      &:not(:nth-child(-n+2)) {
        margin-top: 9rem;
      }
    }
  }

  @include media-query(phone) {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-skills {
  padding-top: $standard-padding-height;
  padding-bottom: $standard-padding-height;

  &__card {
    flex-direction: row-reverse;

    @include media-query(phone) {
      flex-direction: column;
    }
  }

  &__card-img {
    @include media-query(phone) {
      margin-bottom: 9.8rem;
    }
  }

  &__card-title {
    @include media-query(phone) {
      text-align: center;
    }
  }

  &__card-description {
    width: 35%;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__card-skill-bar {
    height: .4rem;
  }
}

.section-work {
  padding-top: $standard-padding-height;
  padding-bottom: $standard-padding-height;

  background-color: $silver-color;

  &__card {
    flex-direction: column;
    justify-content: center;
  }
}

.section-collage {
  padding: 2.8rem 0;

  &__collage-box {
    @include media-query(phone) {
      max-height: 81rem;
    }
  }

  &__item {
    flex-basis: 25%;

    @include media-query(phone) {
      width: 50%;
      height: 20rem;
    }
  }
}

.section-feedback {
  padding-top: $standard-padding-height;
  padding-bottom: $standard-padding-height;

  background-color: $silver-color;

  &__card {
    flex-direction: column;
  }

  &__card-description {
    width: 54rem;

    @include media-query(phone) {
      width: auto;
    }
  }

  &__form-user-data {
    @include flex();

    @include media-query(phone) {
      flex-direction: column;
    }

    > .section-feedback__form-group {
      @include media-query(phone) {
        &:not(:last-child) {
          margin-bottom: 5rem;
        }
      }
    }
  }

  &__form-input {
    width: 25rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__btn {
    width: 19rem;
    margin: 0 auto;
  }
}