.section-about {
  padding: 11.9rem 0 $standard-padding-height;

  &__container {
    width: 54rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__card {
    justify-content: center;

    @include media-query(phone) {
      max-width: 32.3rem;
    }
  }

  &__card-title {
    @include media-query(phone) {
      margin-bottom: 4.2rem;
    }
  }

  @include media-query(phone) {
    padding-top: 9.1rem;
    padding-bottom: 8.2rem;
  }
}

.section-achievements {
  padding: $standard-padding-height 0;

  background-color: $darken-blue-color;

  &__container {
    width: 109.1rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__achievements-container {
    @include media-query(phone) {
      max-width: 33.9rem;
      margin: 0 auto;
    }
  }

  &__card-item {
    height: 5rem;
    width: 14.1rem;

    @include media-query(phone) {
      flex-basis: 50%;
      justify-content: center;

      &:not(:nth-child(-n+2)) {
        margin-top: 8.9rem;
      }
    }
  }

  &__item-title {
    display: block;
    width: 3.6rem;
    height: 1.9rem;
    margin-bottom: 1rem;
  }

  &__item-paragraph {
    display: block;
    width: 7.1rem;
    height: 1.5rem;
  }

  @include media-query(phone) {
    padding-top: 7.5rem;
    padding-bottom: 7.4rem;
  }
}

.section-skills {
  padding: 10.2rem 0 10.1rem;

  &__container {
    width: 115rem;

    @include media-query(phone) {
      width: 100%;
    }
  }


  &__card {
    flex-direction: row-reverse;

    @include media-query(phone) {
      flex-direction: column;

      margin: 0 1.8rem;
    }
  }

  &__card-img {
    @include media-query(phone) {
      max-width: 100%;
      width: 33.9rem;
      margin-bottom: 9.8rem;
    }
  }

  &__card-title {
    @include media-query(phone) {
      margin-bottom: 4.2rem;
      max-width: 33.9rem;
      text-align: center;
    }
  }

  &__card-paragraph {
    margin-bottom: 1.988rem;

    @include media-query(phone) {
      margin-bottom: 1.997rem;
    }
  }

  &__card-description {
    width: 44.5rem;

    @include media-query(phone) {
      width: 100%;
      max-width: 33.9rem;
    }
  }

  &__card-skill {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__card-skill-bar {
    height: .4rem;
  }

  &__card-skill-progress {
    width: 34.936rem;

    @include media-query(phone) {
      width: 78%;
      max-width: 26.7rem;
    }
  }

  @include media-query(phone) {
    padding-top: 8.2rem;
    padding-bottom: 10.3rem;
  }
}

.section-work {
  padding: $standard-padding-height 0;

  background-color: $silver-color;

  &__container {
    width: 111rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__card {
    flex-direction: column;
    justify-content: center;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__card-title {
    @include media-query(phone) {
      margin-bottom: 3.4rem;
    }
  }

  &__card-description {
    width: 54rem;
    margin-bottom: 5.7rem;

    @include media-query(phone) {
      max-width: 32.3rem;
    }
  }

  &__video-box {
    @include media-query(phone) {
      margin: 0 1.8rem;
    }
  }

  &__video-box-preview {
    @include media-query(phone) {
      max-width: 100%;
      width: 33.9rem;
    }
  }

  &__video-box-icon {
    @include media-query(phone) {
      height: 7.5rem;
      width: 7.5rem;
    }
  }

  @include media-query(phone) {
    padding-top: 9.3rem;
    padding-bottom: 9.1rem;
  }
}

.section-collage {
  padding: 2.8rem 0;

  &__collage-box {
    @include media-query(phone) {
      height: calc(#{$collage-items-qty} * 18.8rem);
      max-width: 37.6rem;
      margin: 0 auto;
    }
  }

  &__item {
    width: calc(100% / #{$collage-items-qty});

    @include media-query(phone) {
      height: calc(100% / #{$collage-items-qty});
      width: calc(100% / 2);
    }
  }

  @include media-query(phone) {
    padding: 3.4rem 0;
  }
}

.section-feedback {
  padding: $standard-padding-height 0;

  background-color: $silver-color;

  &__container {
    width: 54rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__card {
    flex-direction: column;

    @include media-query(phone) {
      width: 34.2rem;
    }
  }

  &__info-wrapper {
    @include media-query(phone) {
      width: 32.2rem;
      margin: 0 auto;
    }
  }

  &__card-title {
    @include media-query(phone) {
      margin-bottom: 3.4rem;
    }
  }

  &__card-paragraph {
    margin-bottom: 6.5rem;

    @include media-query(phone) {
      margin-bottom: 4.8rem;
    }
  }

  &__card-description {
    @include media-query(phone) {
      width: 34.2rem;
    }
  }

  &__form {
    @include media-query(phone) {
      margin-bottom: 4.8rem;
    }
  }

  &__form-user-data {
    @include flex();

    @include media-query(phone) {
      margin-bottom: 2.2rem;
      flex-direction: column;
    }

    > .section-feedback__form-group {
      @include media-query(phone) {
        &:not(:last-child) {
          margin-bottom: 2.1rem;
        }
      }
    }
  }

  &__form-input {
    width: 25rem;
  }

  &__form-label {
    height: 1.5rem;
    width: 7.4rem;
  }

  &__form-textarea {
    height: 17.5rem;
    width: 54rem;
  }

  &__form-input,
  &__form-textarea {
    @include media-query(phone) {
      width: 34.2rem;
    }
  }

  &__form-btn {
    display: block;
    width: 19rem;
    height: 5.5rem;
    margin: 0 auto;
    padding: 2rem 1.9rem;

    font-size: $content-font-size;
    line-height: $content-line-height;
  }

  @include media-query(phone) {
    padding: 9.1rem 0 10rem;
  }
}