.footer {
  padding: 5rem 0;

  background-color: $darken-blue-color;

  &__container {
    width: 112.5rem;

    @include media-query(phone) {
      width: 19.3rem;
    }
  }

  &__content-box {
    @include flex();

    @include media-query(phone) {
      flex-direction: column;

      text-align: center;
    }
  }

  &__author-info {
    @include media-query(phone) {
      margin-bottom: 3.8rem;
    }
  }

  &__social-networks {
    width: 17.5rem;
  }

  @include media-query(phone) {
    padding-bottom: 4.759rem;
  }
}