.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: $darken-blue-color;

  &__content-box {
    @include flex();

    @include media-query(phone) {
      flex-direction: column;

      text-align: center;
    }
  }

  &__author-info {
    @include media-query(phone) {
      margin-bottom: 3.8rem;
    }
  }

  &__social-networks {
    width: 17.5rem;

    @include media-query(phone) {
      width: 24rem;
    }
  }
}