.header {
  padding: 5.7rem 0 14.6rem;

  background-color: $smoky-white-color;

  &__container {
    width: 111.3rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__top-bar {
    @include flex();
  }

  &__navigation {
    margin-right: .8rem;

    @include media-query(phone) {
      display: none;
    }
  }

  &__navigation-page {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;

    &:not(:last-child) {
      margin-right: 4.2rem;
    }
  }

  &__logo-icon {
    height: 6rem;
    width: 9.6rem;
  }

  &__main-content {
    padding-top: 14rem;

    @include media-query(phone) {
      padding-top: 6.7rem;
    }
  }

  &__card {
    justify-content: flex-end;

    @include media-query(phone) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__card-title,
  &__card-paragraph {
    @include media-query(phone) {
      margin-bottom: 4.4rem;
    }
  }

  &__card-description {
    width: 54rem;

    @include media-query(phone) {
      width: 100%;
      padding-left: .8rem;
    }
  }

  &__card-btn {
    width: 22.5rem;

    @include media-query(phone) {
      margin: 0 auto;
    }
  }

  &__card-img {
    margin-right: 14.21rem;

    @include media-query(phone) {
      margin-right: 0;
      margin-bottom: 5.1rem;
    }
  }

  @include media-query(phone) {
    padding: 2.2rem 2.6rem 9.5rem 1.9rem;

    text-align: center;
  }
}