.header {
  padding: 5.7rem 0 14.6rem;

  background-color: $smoky-white-color;

  &__container {
    width: 111.3rem;

    @include media-query(phone) {
      width: 100%;
    }
  }

  &__top-bar {
    @include flex();

    @include media-query(phone) {
      margin-left: 1.9rem;
    }
  }

  &__navigation {
    width: 61.1rem;

    @include media-query(phone) {
      display: none;
    }
  }

  &__logo-icon {
    height: 6rem;
    width: 9.6rem;
  }

  &__main-content {
    padding-top: 14rem;

    @include media-query(phone) {
      padding-top: 6.7rem;
    }
  }

  &__card {
    width: 102.8rem;
    margin-left: 8.5rem;

    @include media-query(phone) {
      max-width: 32.2rem;
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__card-title,
  &__card-paragraph {
    @include media-query(phone) {
      margin-bottom: 4.4rem;
    }
  }

  &__card-description {
    width: 54rem;

    @include media-query(phone) {
      width: 100%;
      max-width: 32.2rem;
    }
  }

  &__card-btn {
    width: 22.5rem;
    height: 6.5rem;

    @include media-query(phone) {
      margin: 0 auto;
    }
  }

  &__card-img {
    @include media-query(phone) {
      height: 100%;
      width: 100%;
      margin-bottom: 5.1rem;
    }
  }

  @include media-query(phone) {
    padding-top: 2.2rem;
    padding-bottom: 9.5rem;

    text-align: center;
  }
}