.navigation {
  &__pages-list {
    display: flex;
    justify-content: space-between;
  }

  &__page-link {
    text-transform: uppercase;

    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-style: $font-style;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;

    color: $black-color;

    &:hover {
      font-weight: $font-weight-medium;

      color: $darken-blue-color;
    }
  }
}