.btn {
  @include text($white-color);

  padding: 2.5rem 4.1rem;

  text-transform: uppercase;

  background-color: $darken-blue-color;

  &:hover {
    background-color: $blue-lilac-color;
  }
}