.card {
  @include flex();

  align-items: center;
  margin: 0 auto;

  &__description {
    @include flex(space-between, column);

    width: 50%;

    @include media-query(phone) {
      width: auto;
    }
  }
}