.collage-box {
  @include flex(flex-start);

  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    position: relative;
    flex-grow: 1;

    &:hover .collage-box__item-icon,
    &:hover .overlay {
      visibility: visible;
    }
  }

  &__item-img {
    height: 100%;
    width: 100%;
  }

  &__item-icon {
    @include absolute-center();

    visibility: hidden;

    @include media-query(phone) {
      height: 30%;
      width: 30%;
    }
  }

  @include media-query(phone) {
    flex-direction: column;
    align-content: center;
  }
}