.form {
  &__group {
    position: relative;
  }

  &__input,
  &__textarea {
    padding: 1.7rem 0 1.8rem 2rem;

    border: none;

    background-color: $white-color;

    &:focus + .form__label,
    &:valid + .form__label {
      transform: translateY(-4rem);
      color: $darken-blue-color;

      @include media-query(phone) {
        transform: translateY(-3.6rem);
      }
    }
  }

  &__textarea {
    resize: none;
  }

  &__label {
    @include text($gray-concrete, $content-font-size, $content-line-height);

    position: absolute;
    top: 1.7rem;
    left: 2rem;
  }
}