.video-box {
  position: relative;

  &:hover .overlay,
  &:hover .video-box__icon {
    visibility: visible;
  }

  &__preview {
    width: 100%;
  }

  &__icon {
    @include absolute-center();

    visibility: hidden;

    @include media-query(phone) {
      height: 50%;
      width: 50%;
    }
  }

  @include media-query(phone) {
    height: auto;
  }
}