.video-box {
  position: relative;

  &:hover .overlay,
  &:hover .video-box__icon {
    visibility: visible;
  }

  &__icon {
    @include absolute-center();

    visibility: hidden;
  }
}