*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $darken-white-color;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

//picture {
//  width: 100%;
//}

/*section,
header,
footer {
  padding: 0 $padding-width;

  @include media-query(phone) {
    padding: 0 9%;
  }
}*/