.margin-bottom-lg {
    margin-bottom: 6rem;
}

.margin-bottom-md {
    margin-bottom: 5rem;
}

.margin-bottom-sm {
    margin-bottom: 2rem;
}

.text-align-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}