$mobile-breakpoint: 1280px;
$sm-mobile-breakpoint: 320px;

$padding-width: 15%;
$standard-padding-height: 10rem;

$black-color: #000000;
$gray-color: #727272;
$gray-concrete: #5F5D5D;
$white-color: #FFFFFF;
$darken-white-color: #E5E5E5E5;
$smoky-white-color: #EEEFF1;
$darken-blue-color: #34547A;
$silver-color: #C4C4C4;
$blue-lilac-color: rgba(52, 84, 122, 0.8);

$font-family: 'Roboto', sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-style: normal;

$title-font-weight: $font-weight-medium;

$lg-title-font-size: 4.8rem;
$phone-lg-title-font-size: 3.6rem;
$md-title-font-size: 3.2rem;
$sm-title-font-size: 2.1rem;

$lg-title-line-height: 7.875rem;
$phone-lg-title-line-height: 3.6rem;
$md-title-line-height: 3.75rem;
$sm-title-line-height: 2.461rem;

$paragraph-font-weight: $font-weight-regular;
$paragraph-font-size: 1.6rem;
$paragraph-line-height: 2.625rem;
$phone-paragraph-line-height: 1.92rem;

$mark-font-size: 1.3rem;
$mark-line-height: 2.133rem;

$content-font-size: 1.4rem;
$content-line-height: 2.297rem;
